# WildFly container image (default: quay.io/wado/wado-sa:development)
WILDFLY_IMAGE=quay.io/wado/wado-sa:development

# halOP container image (default: quay.io/halconsole/hal-op:test-suite)
HALOP_IMAGE=quay.io/halconsole/hal-op:test-suite

# Override halOP port (default: 9090)
HALOP_PORT=9090
